.my-games-container {
  padding: 20px;
  max-width: 100%;
  margin: 0;
  padding-bottom: 350px;
  background-color: #f8f9fb;
}

h1 {
  text-align: left;
  margin-left: 0;
  color: #333;
}

.games-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.games-section {
  width: 100%;
  margin: 10px 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.toggle-header {
  font-size: 1.5em;
  margin: 0;
  cursor: pointer;
  padding: 15px;
  background-color: #ffffff;
  color: #333;
  border-left: 5px solid #28a745;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-header:hover {
  background-color: #f0f0f0;
  color: #28a745;
}

.toggle-icon {
  font-size: 1.2em;
  color: #28a745;
  transition: transform 0.3s ease;
}

.game-section-content {
  background: #ffffff;
  padding: 15px;
  border-top: 1px solid #ddd;
  font-size: 1em;
  color: #555;
  line-height: 1.5;
}

.game-section-content p {
  margin: 5px 0;
}

.game-section-content strong {
  color: #333;
}
